:root {
    --rose: #b92cc1ff;
    --violet: #5a2ca0ff;
    --light-rose: rgb(221, 53, 230);
    --light-violet: rgb(138, 84, 219);

    --background: #ffe8d6;
    --primary: #cb997e;
    --primary-light: #ddbea9;
    --secondary: #6b705c;
    --secondary-light: #a5a58d;
}

body {
    background-color: var(--background);
    padding: 2em;
}
.skill-ratio {
    position: absolute;
    background: var(--secondary);
    height: 100% !important;
    border-top-left-radius: .2em;
    border-bottom-left-radius: .2em;
}

.skill-container {
    padding: .5em;
    color: white;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease-in-out;
}

.skill-container:hover {
    scale: 1.05;
}

.skill-bar {
    width: 80%;
    position: relative;
    height: 1em;
    background-color: var(--secondary-light);
    border-radius: .2em;
}

.skill-logo {}

.skill-optional-comment {}
