@import './base.css';

#app {
  min-width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  @media (hover: hover) {
    a:hover {
      background-color: hsla(260, 60%, 60%, 0.2);
    }
  }
}

@font-face {
  font-family: 'Louis George Cafe';
  src: url('./fonts/Louis George Cafe.ttf');
}

