@import './base.css';

#app {
  min-width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: hsla(260, 60%, 40%, 1);
  transition: 0.2s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(260, 60%, 40%, 0.2);
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: hsla(260, 60%, 60%, 1);
  }
  @media (hover: hover) {
    a:hover {
      background-color: hsla(260, 60%, 60%, 0.2);
    }
  }
}
